<div class="row">
  <div class="col-md-6">
    <h3>Day 1: 9-20-2021</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>08:00</td>  <td>Welcome!</td> </tr>
      <tr> <td>08:15</td>  <td>Intro to R and R Studio</td> </tr>
      <tr> <td>09:45</td>  <td>Break</td> </tr>
      <tr> <td>09:50</td>  <td>Project Management with R Studio</td> </tr>
      <tr> <td>10:20</td>  <td>Seeking Help</td> </tr>
      <tr> <td>10:40</td>  <td>Break</td> </tr>
      <tr> <td>10:50</td>  <td>Data Structures</td> </tr>
      <tr> <td>11:50</td>  <td>Debrief</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: 9-21-2021</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td>  <td>Welcome!</td> </tr>
      <tr> <td>08:15</td>  <td>Exploring Data Frames</td> </tr>
      <tr> <td>08:45</td>  <td>Subsetting Data</td> </tr>
      <tr> <td>09:35</td>  <td>Break</td> </tr>
      <tr> <td>09:40</td>  <td>Creating Publication-Quality Graphics with ggplot2</td> </tr>
      <tr> <td>11:00</td>  <td>Break</td> </tr>
      <tr> <td>11:10</td>  <td>Writing Data</td> </tr>
      <tr> <td>11:30</td>  <td>Writing Good Software</td> </tr>
      <tr> <td>11:45</td>  <td>Debrief</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3: 9-22-2021</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td> <td>Welcome!</td> </tr>
      <tr> <td>08:15</td>  <td>Control Flow</td> </tr>
      <tr> <td>9:20</td>  <td>Break</td> </tr>
      <tr> <td>9:35</td>  <td>Functions Explained</td> </tr>
      <tr> <td>10:35</td>  <td>Break</td> </tr>
      <tr> <td>10:50</td>  <td>Data Frame Manipulation with dplyr</td> </tr>
      <tr> <td>11:50</td>  <td>Debrief</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4: 9-23-2021</h3>
    <table class="table table-striped">
      <tr> <td>08:00</td> <td>Welcome!</td> </tr>
      <tr> <td>08:15</td>  <td>Splitting and Combining Data Frames with plyr</td> </tr>
      <tr> <td>09:15</td>  <td>Break</td> </tr>
      <tr> <td>9:30</td>  <td>Data Frame Manipulation with tidyr</td> </tr>
      <tr> <td>10:15</td>  <td>Break</td> </tr>
      <tr> <td>10:25</td>  <td>Producing Reports with knitr</td> </tr>
      <tr> <td>11:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>12:00</td>  <td>END</td> </tr>
      <tr> <td>12:01</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
